---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components';

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 bg-green-100 flex items-center ">
			<div class="container  flex flex-row justify-between ax-w-[1200px] mx-auto">
				<img src="/DuolingoLogo.svg" >
				<a class="relative group flex flex-row items-center hover:text-[#50d71e] font-extrabold uppercase text-gray-400" href="#">
					Idioma de la página
					<Icon name="mdi:chevron-down" />
					<div class="absolute top-6 hidden group-hover:block ">
						Opciones de menú
						Opciones de menú
						Opciones de menú
						Opciones de menú
						Opciones de menú
						Opciones de menú
					</div>
				</a>
			</div>
		</header>
		<slot />

	</body>
</html>
